<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .one{
            width: 100%;
            margin: 20px;
        }
        table{
            border: 1px solid;
            width: 100%;
        }
        tr,td{
            border: 1px solid;
            text-align: center;
        }
        td>img{
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
           <th>id</th>
            <th>名称</th>
            <th>标题</th>
            <th>图片</th>
            <th>详细</th>
            <th>价格</th>
            <th>库存</th>
            <th>详情</th>
        </tr>
        <tr th:each="good:${goods}" class="one">
            <td th:text="${good.id}"></td>
            <td th:text="${good.goodsName}"></td>
            <td th:text="${good.goodsTitle}"></td>
            <td> <img th:src="@{${good.goodsImg}}"></td>
            <td th:text="${good.goodsDetail}"></td>
            <td th:text="${good.goodsPrice}"></td>
            <td th:text="${good.goodsStock}"></td>
            <th><a th:href="@{'/detail/'+${good.id}}">详情</a></th>
        </tr>
    </table>
</body>
</html> 