<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mujiwulian.ms.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.mujiwulian.ms.entity.Goods">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_title" jdbcType="VARCHAR" property="goodsTitle" />
    <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
    <result column="goods_detail" jdbcType="VARCHAR" property="goodsDetail" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="goods_stock" jdbcType="INTEGER" property="goodsStock" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goods_name, goods_title, goods_img, goods_detail, goods_price, goods_stock
  </sql>
    <select id="selectGoodsList" resultType="com.mujiwulian.ms.vo.GoodsVO">
      select sg.id, goods_name, goods_title, goods_img, goods_detail, goods_price, goods_stock
      ,seckil_price, stock_count, start_time, end_time
      from goods g inner join seckill_goods sg
      on g.id=sg.goods_id
    </select>
  <select id="getSecGoodsById" resultType="com.mujiwulian.ms.vo.GoodsVO">
      select sg.id, goods_name, goods_title, goods_img, goods_detail, goods_price, goods_stock
      ,seckil_price, stock_count, start_time, end_time
      from goods g inner join seckill_goods sg
      on g.id=sg.goods_id and g.id=#{id} ;
  </select>
</mapper>